version: "3.8"

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: postgres
    restart: unless-stopped
    env_file: ./postgres/.env
    volumes:
      - db_volume:/bitnami/postgresql
    ports:
      - "5432:5432"
    networks:
      - local-network

  redis:
    image: redis:latest
    container_name: redis
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - redis:/data
    ports:
      - 6379:6379
    networks:
      - local-network

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    restart: unless-stopped
    volumes:
      - ./mqtt/config:/mosquitto/config
      - ./mqtt/data:/mosquitto/data
      - ./mqtt/log:/mosquitto/log
    ports:
      - "1883:1883" # Mantida - Porta TCP pura, não é HTTP.
    networks:
      - local-network

  evolution:
    image: atendai/evolution-api:latest
    container_name: evolution
    restart: unless-stopped
    env_file:
      - ./evolution/.env
    # 'ports' removida - O Nginx fará o proxy para a porta 8080 interna.
    volumes:
      - ./evolution:/app
      - ./evolution/logs:/app/logs
    networks:
      - local-network

  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    env_file:
      - ./n8n/.env
    # 'ports' removida - O Nginx fará o proxy para a porta 5678 interna.
    depends_on:
      - postgres
    volumes:
      - ./n8n:/home/node/.n8n
    networks:
      - local-network

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    # 'ports' removida - O Nginx fará o proxy para a porta 9000 interna.
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer/data:/data
    networks:
      - local-network

  # --- NOVO SERVIÇO NGINX ---
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80" # A única porta pública para tráfego web
      # - "443:443" # Descomente quando for adicionar SSL
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf # Arquivo de configuração
      # - /caminho/para/certificados:/etc/letsencrypt # Descomente para SSL
    networks:
      - local-network
    depends_on: # Garante que o Nginx inicie depois dos serviços que ele proxy
      - n8n
      - evolution
      - portainer

volumes:
  db_volume:
  redis:

networks:
  local-network:
    driver: bridge