version: "3.8"

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: postgres
    restart: unless-stopped
    env_file: ./postgres/.env
    volumes:
      - db_volume:/bitnami/postgresql
    ports:
      - "5432:5432"
    networks:
      - local-network

  redis:
    image: redis:latest
    container_name: redis
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - redis:/data
    ports:
      - 6379:6379
    networks:
      - local-network

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    restart: unless-stopped
    volumes:
      - ./mqtt/config:/mosquitto/config
      - ./mqtt/data:/mosquitto/data
      - ./mqtt/log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - local-network

  evolution:
    image: atendai/evolution-api:latest
    container_name: evolution
    restart: unless-stopped
    env_file:
      - ./evolution/.env
    ports:
      - "8080:8080"
    volumes:
      - ./evolution:/app
      - ./evolution/logs:/app/logs
    networks:
      - local-network

  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    env_file:
      - ./n8n/.env
    ports:
      - "5678:5678"
    depends_on:
      - postgres
    volumes:
      - ./n8n:/home/node/.n8n
    networks:
      - local-network

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer/data:/data
    networks:
      - local-network

## Usamos bind mounts para os serviços; nenhum volume nomeado é necessário aqui.
volumes:
  db_volume:
  redis:

networks:
  local-network:
    driver: bridge