services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: postgres
    restart: unless-stopped
    env_file: ./postgres/.env
    volumes:
      - db_volume:/bitnami/postgresql
    ports:
      - "5432:5432"
    networks:
      - local-network

  redis:
    image: redis:latest
    container_name: redis
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - redis:/data
    ports:
      - 6379:6379
    networks:
      - local-network

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    restart: unless-stopped
    entrypoint: ["/bin/sh", "/docker-entrypoint.sh"]
    command: ["/usr/sbin/mosquitto", "-c", "/mosquitto/config/mosquitto.conf"]
    volumes:
      - ./mqtt/config:/mosquitto/config
      - ./mqtt/data:/mosquitto/data
      - ./mqtt/log:/mosquitto/log
      - ./mqtt/docker-entrypoint.sh:/docker-entrypoint.sh
    ports:
      - "1883:1883" # Mantida - Porta TCP pura, não é HTTP.
    env_file:
      - ./mqtt/.env
    networks:
      - local-network

  evolution:
    image: atendai/evolution-api:latest
    container_name: evolution
    restart: unless-stopped
    env_file:
      - ./evolution/.env
    ports:
      - "8080:8080"
    volumes:
      - ./evolution/store:/evolution/store
      - ./evolution/instances:/evolution/instances
      - ./evolution/logs:/app/logs
    networks:
      - local-network

  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    env_file:
      - ./n8n/.env
    ports:
      - "5678:5678"
    depends_on:
      - postgres
    volumes:
      - ./n8n:/home/node/.n8n
    networks:
      - local-network

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    # 'ports' removida - O Nginx fará o proxy para a porta 9000 interna.
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer/data:/data
    networks:
      - local-network

  nginx:
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template # Produção
      # - ./nginx/nginx.conf.local.template:/etc/nginx/templates/nginx.conf.template # Ambiente local
      - ./certbot/conf:/etc/letsencrypt # Certbot certificates
      - ./certbot/www:/var/www/certbot # Certbot webroot
    env_file:
      - ./nginx/domains.env # Produção
      # - ./nginx/domains.local.env # Ambiente local
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - local-network
    depends_on:
      - n8n
      - evolution
      - portainer
    command: >
      /bin/sh -c "envsubst '$$N8N_DOMAIN $$EVO_DOMAIN $$PORTAINER_DOMAIN $$PORTFOLIO_DOMAIN $$PORTFOLIO_PASS $$CERT_DOMAIN' < /etc/nginx/templates/nginx.conf.template > /etc/nginx/nginx.conf
      && nginx -g 'daemon off;'"

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

volumes:
  db_volume:
  redis:

networks:
  local-network:
    driver: bridge
