version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file: ./postgres/.env
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    restart: always
    volumes:
      - ./mqtt/config:/mosquitto/config
      - ./mqtt/data:/mosquitto/data
      - ./mqtt/log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"

  evolution:
    image: atendai/evolution-api:latest
    container_name: evolution
    restart: always
    env_file:
      - ./evolution/.env
    ports:
      - "8080:8080"
    volumes:
      - evolution_store:/evolution/store
      - evolution_instances:/evolution/instances

  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: always
    env_file:
      - ./n8n/.env
    ports:
      - "5678:5678"
    depends_on:
      - postgres
    volumes:
      - ./n8n:/home/node/.n8n

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer/data:/data
