events {
    worker_connections 1024;
}

http {
    # Configurações recomendadas para performance e tipos de arquivo
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    ### Evolution Nginx Configuration ###

    server {
        listen 80;
        server_name ${EVO_DOMAIN};

        # Redireciona HTTP para HTTPS
        return 301 https://$host$request_uri;
    }

    server {
        listen 443 ssl;
        server_name ${EVO_DOMAIN};

        ssl_certificate /etc/letsencrypt/live/${EVO_DOMAIN}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${EVO_DOMAIN}/privkey.pem;

        proxy_http_version 1.1;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Ssl on;
        proxy_set_header Authorization $http_authorization;

        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Headers "Authorization, Content-Type";
        add_header Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE";

        location = / {
            return 302 /manager;
        }

        location / {
            proxy_pass http://evolution:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-Ssl on;
            proxy_set_header Authorization $http_authorization;
        }

        location /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }
    }

    ### Portainer Nginx Configuration ###

    server {
        listen 80;
        server_name ${PORTAINER_DOMAIN};
        return 301 https://$host$request_uri;
    }

    server {
        listen 443 ssl;
        server_name ${PORTAINER_DOMAIN};

        ssl_certificate /etc/letsencrypt/live/${CERT_DOMAIN}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${CERT_DOMAIN}/privkey.pem;

        location / {
            proxy_pass http://portainer:9000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    ### N8N Nginx Configuration ###

    server {
        listen 80;
        server_name ${N8N_DOMAIN};
        return 301 https://$host$request_uri;
    }

    server {
        listen 443 ssl;
        server_name ${N8N_DOMAIN};

        ssl_certificate /etc/letsencrypt/live/${CERT_DOMAIN}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/${CERT_DOMAIN}/privkey.pem;

        add_header X-Content-Type-Options "nosniff";
        add_header X-Frame-Options "SAMEORIGIN";
        add_header Referrer-Policy "strict-origin-when-cross-origin";
        add_header Content-Security-Policy "default-src 'self' https: data: 'unsafe-inline' 'unsafe-eval'";
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload";

        location / {
            proxy_http_version 1.1;
            proxy_cache_bypass $http_upgrade;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';

            proxy_pass http://n8n:5678;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }


}